final

In [25]:
import pickle

import pandas as pd
import numpy as np
import json

credit = pd.read_csv('tmdb_5000_credits.csv/tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv/tmdb_5000_movies.csv')

final_df = movies.merge(credit, on='title', how='left')

final_df.head(4)

# //stared data processsing || data cleaning

# checking 5 rows  of mering data
# print(final_df.head(5))

# checking colms name
# print(final_df.info())

# imp colms
# id,kwyword,lang,title,overview,geners,realese_date,spoken_languages,cast ,crew

final_df = final_df[['genres', 'id', 'spoken_languages', 'overview', 'title', 'cast', 'crew', 'movie_id','keywords']]


# print(final_df.head(2))
# checking the head again and checking if any data is missing or not
# final_df.info()
# final_df.isnull().sum()


# missing data is presetn in overview so we are removing it
#
# final_df.dropna(subset=['overview'], inplace=True)
# final_df.isnull().sum()


# checling is there any dupliate data
# final_df.duplicated()

#
# final_df['genres'][0]
# data = json.loads(final_df['genres'][0])
# for item in data:
#     print(item['name'])


def helper_genres(obj):
    genres_list = []
    data = json.loads(obj)
    for item in data:
        genres_list.append(item['name'])

    return genres_list


final_df['genres'] = final_df['genres'].apply(helper_genres)

final_df.head(2)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[Adventure, Fantasy, Action]",285,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."

In [26]:



def helper_lang(obj):
    langs_list = []
    for item in json.loads(obj):
        langs_list.append(item['name'])

    return langs_list


# helper_lang([{"iso_639_1": "en", "name": "English"}, {"iso_639_1": "es", "name": "Espa\u00f1ol"}])
final_df['spoken_languages'] = final_df['spoken_languages'].apply(helper_lang)

final_df.head(5)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,"[Action, Crime, Drama, Thriller]",49026,[English],Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,"[Action, Adventure, Science Fiction]",49529,[English],"John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [27]:

# Now, define the helper function
def helper_cast(obj):
    cast_list = []  # Initialize an empty list
    counter = 0  # Counter to limit entries

    for item in json.loads(obj):  # Iterate over the list of dictionaries
        if counter < 3:  # Ensure only 3 items are added
            cast_list.append(item['name'])
            counter += 1
        else:
            break  # Exit loop when counter reaches 3

    return cast_list# Return the final list

# Apply the function
final_df['cast'] = final_df['cast'].apply(helper_cast)

# Check results
final_df.head(3)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."

In [28]:


def finding_director(obj):
    names=[]
    for item in json.loads(obj):
       if item['job'] == 'Director':
           names.append(item['name'])

    return names


final_df['crew']=final_df['crew'].apply(finding_director)
final_df.head(3)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."

In [29]:
# final_df['overview']=final_df['overview'].apply(lambda x:x)
final_df.head(3)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."

In [30]:
final_df['cast']=final_df['cast'].apply(lambda x: [name.replace(" ", "") for name in x])
final_df['genres']=final_df['genres'].apply(lambda x: [name.replace(" ", "") for name in x])
final_df['crew']=final_df['crew'].apply(lambda x: [name.replace(" ", "") for name in x])
final_df.head(5)
#
# final_df['cast'][0].replace(" ", "")
#
# final_df['cast'] = final_df['cast'].apply(lambda x: "".join(x.split()))
# print(final_df['cast'])


# print(final_df['cast'].apply(lambda x: [name.replace(" ", "") for name in x])

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,"[Action, Crime, Drama, Thriller]",49026,[English],Following the death of District Attorney Harve...,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,"[Action, Adventure, ScienceFiction]",49529,[English],"John Carter is a war-weary, former military ca...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [31]:
def keywords_name(obj):
    names=[]
    for item in json.loads(obj):
        names.append(item['name'])

    return names



final_df['keywords']=final_df['keywords'].apply(keywords_name)
final_df['keywords']=final_df['keywords'].apply(lambda x:[name.replace(" ", "") for name in x] )




final_df.head(5)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995,"[cultureclash, future, spacewar, spacecolony, ..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],285,"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],206647,"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,"[Action, Crime, Drama, Thriller]",49026,[English],Following the death of District Attorney Harve...,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],49026,"[dccomics, crimefighter, terrorist, secretiden..."
4,"[Action, Adventure, ScienceFiction]",49529,[English],"John Carter is a war-weary, former military ca...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],49529,"[basedonnovel, mars, medallion, spacetravel, p..."

In [32]:
final_df['Tags'] = final_df['genres'] + final_df['keywords'] + final_df['cast'] + final_df['crew'] + final_df['overview'].apply(lambda x: [x])
final_df.head(3)

,genres,id,spoken_languages,overview,title,cast,crew,movie_id,keywords,Tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[English, Español]","In the 22nd century, a paraplegic Marine is di...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],19995,"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction, c..."
1,"[Adventure, Fantasy, Action]",285,[English],"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,"[Action, Adventure, Crime]",206647,"[Français, English, Español, Italiano, Deutsch]",A cryptic message from Bond’s past sends him o...,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime, spy, basedonnovel, ..."

In [33]:
working_dataframe=final_df[['id','Tags','spoken_languages','movie_id','title']].copy()

working_dataframe['Tags'] = working_dataframe['Tags'].apply(lambda x: " ".join(map(str, x)) if isinstance(x, list) else str(x))
working_dataframe['Tags'] = working_dataframe['Tags'].apply(lambda x: x.lower())

working_dataframe.head(2)

,id,Tags,spoken_languages,movie_id,title
0,19995,action adventure fantasy sciencefiction cultur...,"[English, Español]",19995,Avatar
1,285,adventure fantasy action ocean drugabuse exoti...,[English],285,Pirates of the Caribbean: At World's End

In [34]:
working_dataframe.head(6)

,id,Tags,spoken_languages,movie_id,title
0,19995,action adventure fantasy sciencefiction cultur...,"[English, Español]",19995,Avatar
1,285,adventure fantasy action ocean drugabuse exoti...,[English],285,Pirates of the Caribbean: At World's End
2,206647,action adventure crime spy basedonnovel secret...,"[Français, English, Español, Italiano, Deutsch]",206647,Spectre
3,49026,action crime drama thriller dccomics crimefigh...,[English],49026,The Dark Knight Rises
4,49529,action adventure sciencefiction basedonnovel m...,[English],49529,John Carter
5,559,fantasy action adventure dualidentity amnesia ...,"[English, Français]",559,Spider-Man 3

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk
cv=CountVectorizer(max_features=5000,stop_words='english' )
vector=cv.fit_transform(working_dataframe['Tags']).toarray()

selected_words = cv.get_feature_names_out()
len(selected_words)

5000

In [36]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

ps = PorterStemmer()

def stemming(text):
    whole_row=[]
    for word in text.split():
        whole_row.append(ps.stem(word))
    return ' '.join(whole_row)





working_dataframe["Tags"]=working_dataframe['Tags'].apply(stemming)
working_dataframe.head(2)

,id,Tags,spoken_languages,movie_id,title
0,19995,action adventur fantasi sciencefict culturecla...,"[English, Español]",19995,Avatar
1,285,adventur fantasi action ocean drugabus exotici...,[English],285,Pirates of the Caribbean: At World's End

In [37]:
working_dataframe.head(5)

,id,Tags,spoken_languages,movie_id,title
0,19995,action adventur fantasi sciencefict culturecla...,"[English, Español]",19995,Avatar
1,285,adventur fantasi action ocean drugabus exotici...,[English],285,Pirates of the Caribbean: At World's End
2,206647,action adventur crime spi basedonnovel secreta...,"[Français, English, Español, Italiano, Deutsch]",206647,Spectre
3,49026,action crime drama thriller dccomic crimefight...,[English],49026,The Dark Knight Rises
4,49529,action adventur sciencefict basedonnovel mar m...,[English],49529,John Carter

In [38]:
cv.get_feature_names_out()
vector.shape

(4809, 5000)

v

In [39]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.08980265, 0.05892557, ..., 0.0248452 , 0.02739983,
        0.        ],
       [0.08980265, 1.        , 0.06350006, ..., 0.02677398, 0.        ,
        0.        ],
       [0.05892557, 0.06350006, 1.        , ..., 0.02635231, 0.        ,
        0.        ],
       ...,
       [0.0248452 , 0.02677398, 0.02635231, ..., 1.        , 0.07352146,
        0.04774099],
       [0.02739983, 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]], shape=(4809, 4809))

In [40]:
# movie_index=working_dataframe[working_dataframe['title']=='''Avatar'''].index[0]
# distances=simlarity[movie_index]
# sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

In [60]:
def recommendations(movie_name):
    try:
        movie_index = working_dataframe[working_dataframe['title'] == movie_name].index[0]
    except IndexError:
        print(f"Movie '{movie_name}' not found in dataset.")
        return

    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:11]

    print(f"\nTop recommendations for '{movie_name}':")
    for value in movie_list:
        print(f"- {value[0]} and this the movie{working_dataframe.iloc[value[0]].title}")



recommendations("Batman Begins")




# working_dataframe.iloc[8].title

Top recommendations for 'Batman Begins':
- 65 and this the movieThe Dark Knight
- 3 and this the movieThe Dark Knight Rises
- 1361 and this the movieBatman
- 1360 and this the movieBatman
- 210 and this the movieBatman & Robin
- 4644 and this the movieAmidst the Devil's Wings
- 9 and this the movieBatman v Superman: Dawn of Justice
- 3824 and this the movieDefendor
- 4070 and this the movieMi America
- 428 and this the movieBatman Returns

In [43]:
working_dataframe.to_csv("processed_movies.csv", index=False)

In [58]:
import pickle
similarity
pickle.dump(similarity, open("similarity.pkl", "wb"))

In [68]:
id=int(working_dataframe[working_dataframe['title']=='The Dark Knight Rises'].movie_id.values[0])
id

49026